<body>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      <!-- Menu -->
      <app-financier-menu></app-financier-menu>
      <!-- Menus -->

      <div class="layout-page">

        <!-- HEADER -->
        <app-header></app-header>
        <!-- HEADER -->

        <!-- CONTENT -->
        <div class="content-wrapper">
          <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">Chiffre d'affaire journalier</h4>

            <div class="card">
              <div class="row" style="margin-top: 2%; margin-bottom: 2%">
                <div class="col-md-2"></div>
                <div class="col-md-2" style="margin-top: 1%">
                  Recette en
                </div>
                <div class="col-md-3">
                  <select class="form-select" [(ngModel)]="mois" (change)="chiffreJournalier(true)" >
                    <option *ngFor="let month of months; let indexOfelement=index;" value="{{ indexOfelement + 1 }}">
                      {{ month }}
                    </option>
                  </select>
                </div>

                <div class="col-md-2">
                  <select class="form-select" [(ngModel)]="annee" (change)="chiffreJournalier(true)" >
                    <option *ngFor="let year of years" value="{{ year }}">
                      {{ year }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="card" style="margin-top: 2%; padding-bottom: 2%; border-top: 2px solid rgb(100, 100, 100, 0.5);" >
              <div class="chart-container" style="width: 100%" >
                <canvas  id="MyChart" >{{ chart }}</canvas>
              </div>
            </div>

          </div>
        </div>
        <!-- CONTENT -->

      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <app-footer></app-footer>
  <!-- FOOTER -->

</body>
