<body>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      <!-- Menu -->
      <app-financier-menu></app-financier-menu>
      <!-- Menus -->

      <div class="layout-page">

        <!-- HEADER -->
        <app-header></app-header>
        <!-- HEADER -->

        <!-- CONTENT -->
        <div class="content-wrapper">
          <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">Chiffre d'affaire journalier</h4>

            <div class="card">
              <div class="row" style="margin-top: 2%; margin-bottom: 2%">
                <div class="col-md-2"></div>
                <div class="col-md-2" style="margin-top: 1%">
                  Dépense en
                </div>
                <div class="col-md-3">
                  <select class="form-select" [(ngModel)]="mois" >
                    <option *ngFor="let month of months; let indexOfelement=index;" value="{{ indexOfelement + 1 }}">
                      {{ month }}
                    </option>
                  </select>
                </div>

                <div class="col-md-2">
                  <select class="form-select" [(ngModel)]="annee" >
                    <option *ngFor="let year of years" value="{{ year }}">
                      {{ year }}
                    </option>
                  </select>
                </div>
              </div>
            </div>



<!-- CHART.JS -->

<div style="width:100%;">
  <canvas id="canvas"></canvas>
</div>
<br>
<br>
<script>

  var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
  var config = {
    type: 'line',
    data: {
      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      datasets: [{
        label: 'My First dataset',
        backgroundColor: window.chartColors.red,
        borderColor: window.chartColors.red,
        data: [
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor()
        ],
        fill: false,
      }, {
        label: 'My Second dataset',
        fill: false,
        backgroundColor: window.chartColors.blue,
        borderColor: window.chartColors.blue,
        data: [
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor()
        ],
      }]
    },
    options: {
      responsive: true,
      title: {
        display: true,
        text: 'Chart.js Line Chart'
      },
      tooltips: {
        mode: 'index',
        intersect: false,
      },
      hover: {
        mode: 'nearest',
        intersect: true
      },
      scales: {
        xAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Month'
          }
        }],
        yAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Value'
          }
        }]
      }
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('canvas').getContext('2d');
    window.myLine = new Chart(ctx, config);
  };

</script>
<!-- JART.JS -->


          </div>
        </div>
        <!-- CONTENT -->

      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <app-footer></app-footer>
  <!-- FOOTER -->

</body>
