<body>

  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      <!-- Menu -->
      <app-client-menu></app-client-menu>
      <!-- Menu -->

      <div class="layout-page">

        <!-- Header -->
        <app-header></app-header>
        <!-- Header -->

        <!-- CONTENT -->
        <div class="content-wrapper">
          <div *ngIf="!search" class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">Recherche avancée</h4>

            <div class="row mb-12">
              <div class="col-md-12 col-lg-12 mb-12">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title" style="text-decoration: underline;" >Paramètre de recherche</h5>
                    <div class="mb-3 row">
                      <label for="html5-text-input" class="col-md-4 col-form-label">Numéro matricule du véhicule</label>
                      <div class="col-md-7">
                        <input class="form-control" type="text" [(ngModel)]="rechercheForm.matricule" name="matricule" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="html5-search-input" class="col-md-4 col-form-label">Etat de paiement</label>
                      <div class="col-md-7">
                        <div class="input-group">
                          <select class="form-select" [(ngModel)]="rechercheForm.etatpaiement" name="etatpaiement" >
                            <option value="-1">Tous</option>
                            <option value="1">Payé</option>
                            <option value="0">Non-payé</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="html5-email-input" class="col-md-4 col-form-label">Réparation éffectuée sur</label>
                      <div class="col-md-7">
                        <input class="form-control" type="text" [(ngModel)]="rechercheForm.reparation" name="reperation" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="html5-email-input" class="col-md-4 col-form-label">Date de dépôt entre</label>
                      <div class="col-md-3">
                        <input class="form-control" type="datetime-local" [(ngModel)]="rechercheForm.dateinf" name="dateinf" />
                      </div>
                      <div class="col-md-1">et</div>
                      <div class="col-md-3">
                        <input class="form-control" type="datetime-local" [(ngModel)]="rechercheForm.datesup" name="datesup" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="html5-email-input" class="col-md-4 col-form-label"></label>
                      <div class="col-md-7">
                        <button class="btn btn-primary" (click)="recherche()" >
                          <i class="bx bx-zoom-in"></i>
                          Rechercher
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>


          <div *ngIf="search" class="container-xxl flex-grow-1 container-p-y">

            <h4 class="fw-bold py-3 mb-4">Résultat de recherche</h4>

            <div class="row">
              <div class="col-md-2">
                Numéro matricule
              </div>
              <div class="col-md-4">
                <input disabled class="form-control" value="{{ rechercheForm.matricule }}" />
              </div>

              <div class="col-md-2">
                Etat de paiement
              </div>
              <div class="col-md-4">
                <input disabled class="form-control" value="{{ rechercheForm.etatpaiement == -1 ? 'Tous' : (rechercheForm.etatpaiement == 0 ? 'Non-payé' : 'Payé') }}" />
              </div>

              <div class="col-md-2" style="margin-top: 2px">
                Réparation sur
              </div>
              <div class="col-md-4" style="margin-top: 2px">
                <input disabled class="form-control" value="{{ rechercheForm.reparation }}" />
              </div>

              <div class="col-md-3" style="margin-top: 2px">
                <input disabled type="datetime-local" class="form-control" value="{{ rechercheForm.dateinf }}" />
              </div>
              <div class="col-md-3" style="margin-top: 2px">
                <input disabled type="datetime-local" class="form-control" value="{{ rechercheForm.datesup }}" />
              </div>
            </div>

              <!-- Table -->
            <div class="card" style="margin-top: 2%" >
              <h5 class="card-header">Tableau récapitulatif</h5>
              <div class="table-responsive text-nowrap">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Matricule</th>
                      <th>Date de dépôt</th>
                      <th>Etat</th>
                      <th>Avancement</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">

                    <tr *ngFor="let fiche of result" >
                      <td>
                        <i class="fa fa-user me-1"></i> <strong>{{ fiche.voiture }}</strong>
                      </td>
                      <td>{{ fiche.datefiche | date: 'dd/MM/yyyy à HH:mm' }}</td>
                      <td>{{ fiche.etat.etatfiche.intitule }}</td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                            [ngStyle]="{'width.%': fiche.avancement}" >{{ fiche.avancement }}%</div>
                        </div>
                      </td>
                      <td>
                        <a [routerLink]="['/client/fiche-details/'+fiche._id]" >
                          <i class="bx bx-edit-alt me-1"></i> Détails
                        </a>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
            <!-- Table -->
          </div>


        </div>
        <!-- CONTENT -->

      </div>

    </div>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
  <!-- Footer -->

</body>
