<body>

  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      <!-- Menu -->
      <app-client-menu></app-client-menu>
      <!-- Menu -->

      <div class="layout-page">

        <!-- Header -->
        <app-header></app-header>
        <!-- Header -->

        <!-- CONTENT -->
        <div class="content-wrapper">
          <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">Enregistrement d'un nouveau véhicule</h4>

            <div class="row mb-12">
              <div class="col-md-12 col-lg-12 mb-12">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title" style="text-decoration: underline;" >Information sur le véhicule</h5>
                      <div class="mb-3 row">
                        <label for="html5-text-input" class="col-md-4 col-form-label">Numéro matricule du véhicule</label>
                        <div class="col-md-7">
                          <input class="form-control" type="text" [(ngModel)]="nouveauForm.matricule" />
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="html5-search-input" class="col-md-4 col-form-label">Type du véhicule</label>
                        <div class="col-md-7">
                          <input class="form-control" type="text" [(ngModel)]="nouveauForm.type" />
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="html5-email-input" class="col-md-4 col-form-label">Marque du véhicule</label>
                        <div class="col-md-7">
                          <input class="form-control" type="text" [(ngModel)]="nouveauForm.marque" />
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="html5-email-input" class="col-md-4 col-form-label"></label>
                        <div class="col-md-7">
                          <button class="btn btn-primary" (click)="saveVehicule()" >
                            <i class="bx bxs-car-garage"></i>
                            Enregistrer le véhicule
                          </button>
                        </div>
                      </div>
                  </div>

                  <button class="btn btn-success" *ngIf="nouveauSuccess != ''" >
                    <i class="bx bx-check-double"></i>
                    {{ nouveauSuccess }}
                  </button>

                  <button class="btn btn-danger" *ngIf="nouveauError != ''" >
                    <i class="bx bx-error"></i>
                    {{ nouveauError }}
                  </button>

                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- CONTENT -->

      </div>

    </div>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
  <!-- Footer -->

</body>
