<body>

  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      <!-- Menu -->
      <app-atelier-menu></app-atelier-menu>
      <!-- Menus -->

      <div class="layout-page">

        <!-- HEADER -->
        <app-header></app-header>
        <!-- HEADER -->

        <!-- CONTENT -->
        <div class="content-wrapper">
          <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">Véhicule(s) demandant un billet de sortie</h4>

              <button *ngIf="valideError != ''" class="btn btn-danger" style="width: 100%; text-align: center; margin-bottom:1%">
                <i class="bx bx-error"></i>
                {{ valideError }}
              </button>

              <button *ngIf="valideSuccess != ''" class="btn btn-success" style="width: 100%; text-align: center; margin-bottom:1%">
                <i class="bx bx-check-double"></i>
                {{ valideSuccess }}
              </button>

              <!-- Table -->
              <div class="card">
                <h5 class="card-header">Tableau récapitulatif</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Matricule</th>
                        <th>Client</th>
                        <th>Date de dépôt</th>
                        <th>Billet de sortie</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">

                      <tr *ngFor="let fiche of fiches" >
                        <td>
                          <i class="fa fa-user me-1"></i> <strong>{{ fiche.voiture }}</strong>
                        </td>
                        <td>{{ fiche.user }}</td>
                        <td>{{ fiche.datefiche | date: 'dd/MM/yyyy à HH:mm' }}</td>
                        <td>
                          <button class="btn btn-primary" (click)="valideSortie(fiche._id)" >
                            Valider
                          </button>
                        </td>
                        <td>
                          <a class="dropdown-item" [routerLink]="['/atelier/fiche-details/'+fiche._id]" >
                            <i class="bx bx-edit-alt me-1"></i> Détails
                          </a>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <!-- Table -->
            </div>
          </div>

        </div>
      </div>
  </div>

  <!-- FOOTER -->
  <app-footer></app-footer>
  <!-- FOOTER -->

</body>
