<!-- start -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-covercar.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Welcome!</h1>
        <p class="text-white mt-0 mb-5">Please fill out the form below</p>
        <a href="#!" class="btn btn-info">View users</a>
        <!-- <a href="#!" class="btn btn-info">Make a request</a> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/brand/carfix.png" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <!--  -->
        <!--  -->
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">User</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div>
          </div>
        </div>
        <div class="card-body"  *ngIf="id==null">
          <form>
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="form-group col-md-6" >
                  <label>Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-envelope"></i>
                      </div>
                    </div>
                    <input type="text" type="email" placeholder="Email" [(ngModel)]="mail" class="form-control">
                  </div>
              </div>
              <div class="form-group col-md-6">
                  <label>Password</label>
                  <div class="input-group">
                  <div class="input-group-prepend">
                      <div class="input-group-text">
                      <i class="fas fa-lock"></i>
                      </div>
                  </div>
                  <input type="password" class="form-control pwstrength" data-indicator="pwindicator" type="password" placeholder="password" [(ngModel)]="mdp">
                  </div>
                  <div id="pwindicator" class="pwindicator">
                    <div class="bar"></div>
                    <div class="label"></div>
                  </div>
              </div>
            </div>
              <div class="row">
                <div class="form-group col-md-6">
                    <label>Roles</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-bars"></i>
                          </div>
                        </div>
                        <select name="select" id="select" class="form-control" [(ngModel)]="idrole" >
                            <option value={{role.id}} *ngFor="let role of roles">{{role.designation}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right" >
              <button class="btn btn-success bouton" (click)="ajouter()">Add</button>
          </div>
          <div class="row" *ngIf="message!=null" style="margin-top: 20px;">
              <div class="alert alert-danger col-md-12" role="alert" >
                  {{message}}
              </div>
          </div>

            <!--  -->


            </div>

          </form>
        </div>
        <div class="card-body" *ngIf="id!=null">
          <div class="form-group" >
              <label>Email</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-envelope"></i>
                  </div>
                </div>
                <input type="text" type="email" placeholder="Email" [(ngModel)]="mail" class="form-control">
              </div>
          </div>
          <div class="form-group">
            <label>Roles</label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-bars"></i>
                  </div>
                </div>
                <select name="select" id="select" class="form-control" [(ngModel)]="idrole" >
                    <option value={{role.id}} *ngFor="let role of roles">{{role.designation}}</option>
                </select>
            </div>

          </div>
          <div class="card-footer text-right" >
              <button class="btn btn-success bouton" (click)="modifier()">Update</button>
          </div>
          <div class="row" *ngIf="message!=null" style="margin-top: 20px;">
              <div class="alert alert-danger col-md-12" role="alert" >
                  {{message}}
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>




<!-- end -->
