
<app-client-menu></app-client-menu>

        <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-lg-8 mb-4 order-0">
                  <div class="container">

                    <!-- card hover-start -->
                    <ul class="character-collection">
                      <li class="rolls-royce">
                        <div class="hover-person"></div>
                        <img src="src/assets/img/cars/Rolls-Royce.png" alt="Rolls-Royce" />
                        <p class="text-name">Rolls-Royce</p>
                      </li>
                      <li class="dacia-duster">
                        <div class="hover-person"></div>
                        <img src="src/assets/img/cars/Dacia-duster.png" alt="Dacia-duster" />
                        <p class="text-name">Dacia-duster</p>
                      </li>
                      <li class="nissan-navara4">
                        <div class="hover-person"></div>
                        <img src="src/assets/img/cars/Nissan-navara4.png" alt="Nissan-navara4" />
                        <p class="text-name">Nissan-navara4</p>
                      </li>
                      <li class="ford-ranger-mat">
                        <div class="hover-person"></div>
                        <img src="src/assets/img/cars/Ford-ranger-mat.png" alt="Ford-ranger-mat" />
                        <p class="text-name">Ford-ranger-mat</p>
                      </li>
                      <li class="rubicon-recon">
                        <div class="hover-person"></div>
                        <img src="src/assets/img/cars/Rubicon-recon.png" alt="Rubicon-recon" />
                        <p class="text-name">Rubicon-recon</p>
                      </li>
                    </ul>
                    <!-- card hover-end -->

                  <div class="card">
                    <div class="slide slide1" style="width: 400px;">

                      <div class="content">

                          <div class="icon">

                              <i class="fa fa-list" aria-hidden="true"></i>

                          </div>

                      </div>

                  </div>

                  <div class="slide slide2" style="width: 400px;">

                    <div class="content">

                        <h3 style="color:rgb(90, 7, 58);">
                            Ici se trouve votre page d'accueil en tant que client.
                        </h3>
                    <p>Veuillez cliquer sur nouveau si besoin d'ajouter une voiture</p>
                        <div class="button-files mt-0">
                          <a class="btn btn-icon btn-lg icon-left btn-info"><i class="far fa-edit"></i> Nouveau</a>
                        </div>

                    </div>

                  </div>

                    <div class="d-flex align-items-end row">
                      <div class="col-sm-7">
                        <div class="card-body">
                          <h5 class="card-title text-primary">Bienvenue chèr client! Votre connexion a été un succès 🎉</h5>
                          <p class="mb-4">
                             <span class="fw-bold"></span>
                          </p>

                          <a href="javascript:;" class="btn btn-sm btn-outline-primary">View Badges</a>
                        </div>
                      </div>
                      <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                          <img
                            src="../assets/img/illustrations/man-with-laptop-light.png"
                            height="140"
                            alt="View Badge User"
                            data-app-dark-img="illustrations/man-with-laptop-dark.png"
                            data-app-light-img="illustrations/man-with-laptop-light.png"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- container -->
                          <!-- Total Revenue -->
                          <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                            <div class="card">
                              <div class="row row-bordered g-0">
                                <div class="col-md-8">
                                  <h5 class="card-header m-0 me-2 pb-3">Total Revenue</h5>
                                  <div id="totalRevenueChart" class="px-2"></div>
                                </div>
                                <div class="col-md-4">
                                  <div class="card-body">
                                    <div class="text-center">
                                      <div class="dropdown">
                                        <button
                                          class="btn btn-sm btn-outline-primary dropdown-toggle"
                                          type="button"
                                          id="growthReportId"
                                          data-bs-toggle="dropdown"
                                          aria-haspopup="true"
                                          aria-expanded="false"
                                        >
                                          2023
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
                                          <a class="dropdown-item" href="javascript:void(0);">2022</a>
                                          <a class="dropdown-item" href="javascript:void(0);">2021</a>
                                          <a class="dropdown-item" href="javascript:void(0);">2020</a>
                                          <a class="dropdown-item" href="javascript:void(0);">2019</a>
                                          <a class="dropdown-item" href="javascript:void(0);">2018</a>
                                          <a class="dropdown-item" href="javascript:void(0);">2017</a>
                                          <a class="dropdown-item" href="javascript:void(0);">2016</a>
                                          <a class="dropdown-item" href="javascript:void(0);">2015</a>
                                          <a class="dropdown-item" href="javascript:void(0);">2014</a>
                                        </div>
                                        <button
                                          class="btn btn-sm btn-outline-primary dropdown-toggle"
                                          type="button"
                                          id="growthReportId"
                                          data-bs-toggle="dropdown"
                                          aria-haspopup="true"
                                          aria-expanded="false"
                                        >
                                          Janvier
                                        </button>
                                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
                                            <a class="dropdown-item" href="javascript:void(0);">Janvier</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Février</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Mars</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Avril</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Mai</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Juin</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Juillet</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Août</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Septembre</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Octobre</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Novembre</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Décembre</a>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div id="growthChart"></div>
                                  <div class="text-center fw-semibold pt-3 mb-2">80% croissance d'utilisation</div>

                                  <div class="d-flex px-xxl-4 px-lg-2 p-4 gap-xxl-3 gap-lg-1 gap-3 justify-content-between">
                                    <div class="d-flex">
                                      <div class="me-2">
                                        <span class="badge bg-label-primary p-2"><i class="bx bx-wallet text-primary"></i></span>
                                      </div>
                                      <div class="d-flex flex-column">
                                        <small>2023</small>
                                        <h6 class="mb-0">$320</h6>
                                      </div>
                                    </div>
                                    <div class="d-flex">
                                      <div class="me-2">
                                        <span class="badge bg-label-info p-2"><i class="bx bx-wallet text-info"></i></span>
                                      </div>
                                      <div class="d-flex flex-column">
                                        <small>2020</small>
                                        <h6 class="mb-0">£1000</h6>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- / Total Revenue -->
                </div>
              </div>
            </div>
            <!-- / Content -->

            <div class="content-backdrop fade"></div>
          </div>

